.eight {
    width: 12.5%;
    float: left;
}
.seven {
    width: 14.25%;
    float: left;
}
.six {
    width: 16.6666%;
    float: left;
}
.five {
    width: 20%;
    float: left;
}
.four {
    width: 25%;
    float: left;
}
.three {
    width: 33.3333%;
    float: left;
}
.two {
    width: 50%;
    float: left;
}
.one{
 width:100%;
    float:left;
}
.multi-group-container {
    margin-bottom:30px;
    clear:both;
}
.dark {
    color: #fff;
}
.groupcolor {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0px;
    height: 100%;
        -webkit-print-color-adjust: exact;

}

/*chart styles*/
.color{
 float: left;
    display: inline-block;
    margin-bottom: 20px;
        min-width: 90px;

}
.swatch{
    -webkit-print-color-adjust: exact;
    
}
.color-code{
    font-size: 0.9em;
    text-align: center;
    min-height: 60px;
}
.color-group{
 margin-bottom: 30px; 
    height: auto;
    display: block;
}

/*COLORS*/
.blue{background-color:#0099B2;}
.orange{background-color:#E66433;}
.gray{background-color:#808284;}
.yellow{background-color:#DCB73C;}
.green{background-color:#6DA855;}
.purple{background-color:#8371A0;}
.space-gray{background-color:#515153;}


.black{background-color:#000000;}
/* https://hihayk.github.io/scale/#4/4/50/80/-25/0/20/14/3CA4BC/60/164/188/white */
.blue-6{background-color:#003B47;}
.blue-5{background-color:#006879;}
.blue-4{background-color:#0099B2;}
.blue-3{background-color:#87C8D8;}
.blue-2{background-color:#C8E4F0;}
.blue-1{background-color:#EEF8FD;}
/* https://hihayk.github.io/scale/#4/4/50/80/25/-17/20/14/FF900F/255/144/15/white */
.yellow-6{background-color:#53460C;}
.yellow-5{background-color:#8A7519;}
.yellow-4{background-color:#DCB73C;}
.yellow-3{background-color:#EDD8A0;}
.yellow-2{background-color:#F5E9CC;}
.yellow-1{background-color:#FBF6EC;}
/* https://hihayk.github.io/scale/#4/4/80/80/0/0/20/14/d1d1d1/209/209/209/white */
.gray-6{background-color:#323132;}
.gray-5{background-color:#515153;}
.gray-4{background-color:#808284;}
.gray-3{background-color:#BBBDC0;}
.gray-2{background-color:#DBDCDE;}
.gray-1{background-color:#F3F3F4;}
/* https://hihayk.github.io/scale/#4/4/50/80/-25/-25/20/14/EF4774/239/71/116/white */
.purple-6{background-color:#30263C;}
.purple-5{background-color:#544768;}
.purple-4{background-color:#8371A0;}
.purple-3{background-color:#BDB1CB;}
.purple-2{background-color:#E0DAED;}
.purple-1{background-color:#EDEAF5;}
/* https://hihayk.github.io/scale/#4/4/50/80/25/25/20/14/43BE5E/67/190/94/white */
.green-6{background-color:#20441B;}
.green-5{background-color:#48733B;}
.green-4{background-color:#6DA855;}
.green-3{background-color:#B6D1A5;}
.green-2{background-color:#D8EBD2;}
.green-1{background-color:#F2F8EF;}
/* https://hihayk.github.io/scale/#4/4/50/80/0/0/20/14/FA2434/250/36/52/white */
.orange-6{background-color:#581900;}
.orange-5{background-color:#963C15;}
.orange-4{background-color:#E66433;}
.orange-3{background-color:#F3AD89;}
.orange-2{background-color:#FDDAC8;}
.orange-1{background-color:#FEF3EC;}


.print-swatch{
 display: none;
}
@media print {

   .print-swatch {
      display: inline;
   }
}